:global {
  body {
    .ant-radio-button-wrapper {
      color: #666;
    }
    .radioGroup {
      border: none;
      .radioButton {
        height: 29px;
        border: none;
      }
    }
    .ant-radio-button-wrapper::before {
      content: '';
      width: 0;
      display: none !important;
    }
    .ant-radio-button-wrapper-checked {
      background-color: #f39800;
      color: white;
    }
    .ant-radio-button-wrapper-checked:hover {
      background: #ffb829;
      color: white;
    }

    .ant-form-item-control {
      .ant-checkbox-group {
        margin-left: 8px;
      }
      .ant-checkbox-wrapper {
        width: 58px;
        height: 29px;
        display: inline-block;
        .ant-checkbox {
          margin-left: 0;
          display: block;
          width: 0;
          height: 0;
          input[type='checkbox'] {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .ant-checkbox-inner {
            display: none;
          }
        }
        span {
          line-height: 29px;
          display: block;
          text-align: center;
        }
      }
      .ant-checkbox-wrapper-checked {
        background-color: #f39800;
        color: white;
      }
    }
  }
}
