@import '../../common.scss';

.filter {
  :global {
    .ant-radio-button-wrapper {
      padding: 0 8px;
      height: $Filter-ButtonHeight;
      line-height: $Filter-ButtonHeight;
    }

    .ant-radio-button-wrapper-checked {
      background-color: $Primary;
      color: white;
      box-shadow: none;
    }

    .ant-checkbox-group {
      margin-left: 8px;
    }

    .ant-checkbox-wrapper {
      padding: 0 8px;
      height: $Filter-ButtonHeight;
      font-size: 13px;
      border-radius: 2px;
      transition: color 0.3s, background 0.3s, border-color 0.3s;

      .ant-checkbox {
        display: none;
      }

      span {
        line-height: $Filter-ButtonHeight;
        display: block;
        text-align: center;
      }
    }

    .ant-checkbox-wrapper-checked {
      background-color: $Primary;
      color: white;
    }
  }
}
