@import '../../common.scss';

:global {
  body {
    .ant-radio-button-wrapper {
      color: $Text;
    }
    .radioGroup {
      border: none;
      .radioButton {
        height: 29px;
        border: none;
      }
    }
    .ant-radio-button-wrapper::before {
      content: '';
      width: 0;
      display: none !important;
    }
    .ant-radio-button-wrapper-checked {
      background-color: $Primary;
      color: white;
      box-shadow: none;
    }
    .ant-radio-button-wrapper-checked:hover {
      background: $Primary;
      color: white;
      box-shadow: none;
    }

    .ant-checkbox-group {
      margin-left: 8px;
    }
    .ant-checkbox-wrapper {
      width: 58px;
      height: 29px;
      display: inline-block;
      background: #fff;
      border-radius: 2px;
      transition: color 0.3s, background 0.3s, border-color 0.3s;
      .ant-checkbox {
        margin-left: 0;
        display: block;
        width: 0;
        height: 0;
        input[type='checkbox'] {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .ant-checkbox-inner {
          display: none;
        }
      }
      span {
        line-height: 29px;
        display: block;
        text-align: center;
      }
    }
    .ant-checkbox-wrapper-checked {
      background-color: $Primary;
      color: white;
    }
  }
}
