.copyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.ant-input-group-addon {
  line-height: normal;
  padding: 0;
}

.inputCopyBtn {
  border: none;
}

.copyBtn:focus {
  outline: none;
}

.copyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}

.tips {
  margin-left: 5px;
}

.iconSize {
  font-size: 16px;
}

.minWidth {
  min-width: 100px;
}
