$af-prefix-cls: af !default;
:export {
  prefixCls: $af-prefix-cls;
}
$af-primary: #1badff !default; // 主色调
$af-secondary: #e2f6ff !default; // 辅色调
$af-error: #f74052 !default; // 错误提示
$af-success: #52c41a !default; // 成功、通过等
$af-title: #333 !default; // 标题或较深label
$af-text: #666 !default; // 文字或正文
$af-disabled: #ccc !default; // 禁用

$af-filter-button-height: 28px;
